n8n-workflow/talkmate-lead-generation.json
{
  "name": "TalkMate - Gastro Lead Generation",
  "nodes": [
    {
      "parameters": {},
      "id": "trigger-manual",
      "name": "Start",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [200, 400]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "categories",
              "value": "Döner,Pizza,Sushi,Burger"
            },
            {
              "name": "cities",
              "value": "Berlin,Hamburg,München,Köln,Frankfurt am Main,Stuttgart,Düsseldorf,Leipzig,Dortmund,Essen,Bremen,Dresden,Hannover,Nürnberg,Duisburg,Bochum,Wuppertal,Bielefeld,Bonn,Münster,Mannheim,Karlsruhe,Augsburg,Wiesbaden,Mönchengladbach,Gelsenkirchen,Aachen,Braunschweig,Kiel,Chemnitz,Halle,Magdeburg,Freiburg,Krefeld,Mainz,Lübeck,Erfurt,Oberhausen,Rostock,Kassel,Hagen,Potsdam,Saarbrücken,Hamm,Ludwigshafen,Oldenburg,Osnabrück,Leverkusen,Heidelberg,Darmstadt"
            }
          ]
        },
        "options": {}
      },
      "id": "set-config",
      "name": "Konfiguration",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [420, 400]
    },
    {
      "parameters": {
        "jsCode": "// Kategorien und Städte aufsplitten\nconst categories = $input.first().json.categories.split(',');\nconst cities = $input.first().json.cities.split(',');\n\n// Alle Kombinationen erstellen\nconst combinations = [];\nfor (const city of cities) {\n  for (const category of categories) {\n    combinations.push({\n      json: {\n        city: city.trim(),\n        category: category.trim(),\n        searchQuery: `${category.trim()} Restaurant in ${city.trim()}`\n      }\n    });\n  }\n}\n\nreturn combinations;"
      },
      "id": "code-combinations",
      "name": "Stadt-Kategorie Kombinationen",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [640, 400]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "batch-search",
      "name": "Batch Verarbeitung",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [860, 400]
    },
    {
      "parameters": {
        "url": "https://maps.googleapis.com/maps/api/place/textsearch/json",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={{ $json.searchQuery }}"
            },
            {
              "name": "key",
              "value": "={{ $credentials.googlePlacesApi.apiKey }}"
            },
            {
              "name": "language",
              "value": "de"
            },
            {
              "name": "region",
              "value": "de"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "google-text-search",
      "name": "Google Places Suche",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1080, 400],
      "credentials": {
        "httpQueryAuth": {
          "id": "GOOGLE_PLACES_CREDENTIAL_ID",
          "name": "Google Places API Key"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Ergebnisse aus der Text Search extrahieren\nconst results = $input.first().json.results || [];\nconst city = $input.first().json.city || $('Batch Verarbeitung').first().json.city;\nconst category = $input.first().json.category || $('Batch Verarbeitung').first().json.category;\n\nconst items = results.map(place => ({\n  json: {\n    place_id: place.place_id,\n    name: place.name,\n    address: place.formatted_address || '',\n    rating: place.rating || 0,\n    total_ratings: place.user_ratings_total || 0,\n    city: city,\n    category: category,\n    location_lat: place.geometry?.location?.lat || '',\n    location_lng: place.geometry?.location?.lng || '',\n    business_status: place.business_status || 'UNKNOWN'\n  }\n}));\n\n// Nur aktive Betriebe\nreturn items.filter(item => item.json.business_status === 'OPERATIONAL');"
      },
      "id": "code-extract-results",
      "name": "Suchergebnisse extrahieren",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1300, 400]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {
          "reset": false
        }
      },
      "id": "batch-details",
      "name": "Detail Batch",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [1520, 400]
    },
    {
      "parameters": {
        "url": "=https://maps.googleapis.com/maps/api/place/details/json",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "place_id",
              "value": "={{ $json.place_id }}"
            },
            {
              "name": "key",
              "value": "={{ $credentials.googlePlacesApi.apiKey }}"
            },
            {
              "name": "fields",
              "value": "name,formatted_address,formatted_phone_number,international_phone_number,website,email,opening_hours,rating,user_ratings_total,url,types"
            },
            {
              "name": "language",
              "value": "de"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "google-place-details",
      "name": "Google Place Details",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1740, 400],
      "credentials": {
        "httpQueryAuth": {
          "id": "GOOGLE_PLACES_CREDENTIAL_ID",
          "name": "Google Places API Key"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Detail-Daten mit vorherigen Daten zusammenführen\nconst detail = $input.first().json.result || {};\nconst prev = $('Detail Batch').first().json;\n\n// Öffnungszeiten formatieren\nlet openingHours = '';\nif (detail.opening_hours && detail.opening_hours.weekday_text) {\n  openingHours = detail.opening_hours.weekday_text.join('; ');\n}\n\n// E-Mail aus Website extrahieren (Google gibt selten direkt E-Mails)\nconst email = detail.email || '';\nconst hasEmail = email !== '';\n\nreturn [{\n  json: {\n    // Identifikation\n    place_id: prev.place_id,\n    \n    // Basis-Daten\n    name: detail.name || prev.name,\n    address: detail.formatted_address || prev.address,\n    phone: detail.formatted_phone_number || '',\n    phone_international: detail.international_phone_number || '',\n    website: detail.website || '',\n    email: email,\n    has_email: hasEmail,\n    google_maps_url: detail.url || '',\n    \n    // Bewertungen\n    rating: detail.rating || prev.rating || 0,\n    total_ratings: detail.user_ratings_total || prev.total_ratings || 0,\n    \n    // Öffnungszeiten\n    opening_hours: openingHours,\n    \n    // Kategorisierung\n    city: prev.city,\n    category: prev.category,\n    \n    // Metadaten\n    source: 'Google Places API',\n    imported_at: new Date().toISOString()\n  }\n}];"
      },
      "id": "code-merge-details",
      "name": "Daten zusammenführen",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1960, 400]
    },
    {
      "parameters": {
        "url": "=https://api.hubapi.com/crm/v3/objects/contacts/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $credentials.hubspotApi.accessToken }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"filterGroups\": [\n    {\n      \"filters\": [\n        {\n          \"propertyName\": \"google_place_id\",\n          \"operator\": \"EQ\",\n          \"value\": \"{{ $json.place_id }}\"\n        }\n      ]\n    }\n  ],\n  \"properties\": [\"google_place_id\", \"email\", \"firstname\"]\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "hubspot-check-duplicate",
      "name": "HubSpot Duplikat-Check",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2180, 400]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-no-duplicate",
              "leftValue": "={{ $json.total }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-no-duplicate",
      "name": "Duplikat?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2400, 400]
    },
    {
      "parameters": {
        "jsCode": "// Vorherige Lead-Daten wiederherstellen\nconst leadData = $('Daten zusammenführen').first().json;\nreturn [{ json: leadData }];"
      },
      "id": "code-restore-lead",
      "name": "Lead-Daten laden",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2620, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-has-email",
              "leftValue": "={{ $json.has_email }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-has-email",
      "name": "Hat E-Mail?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2840, 300]
    },
    {
      "parameters": {
        "url": "https://api.hubapi.com/crm/v3/objects/contacts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $credentials.hubspotApi.accessToken }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"properties\": {\n    \"company\": \"{{ $json.name }}\",\n    \"email\": \"{{ $json.email }}\",\n    \"phone\": \"{{ $json.phone }}\",\n    \"address\": \"{{ $json.address }}\",\n    \"city\": \"{{ $json.city }}\",\n    \"website\": \"{{ $json.website }}\",\n    \"google_place_id\": \"{{ $json.place_id }}\",\n    \"google_rating\": \"{{ $json.rating }}\",\n    \"google_total_ratings\": \"{{ $json.total_ratings }}\",\n    \"google_maps_url\": \"{{ $json.google_maps_url }}\",\n    \"opening_hours\": \"{{ $json.opening_hours }}\",\n    \"lead_kategorie\": \"{{ $json.category }}\",\n    \"lead_source\": \"Google Places API\",\n    \"lead_status\": \"mit-email\",\n    \"hs_lead_status\": \"NEW\"\n  }\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "hubspot-create-with-email",
      "name": "HubSpot Kontakt (mit E-Mail)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3060, 200]
    },
    {
      "parameters": {
        "url": "https://api.hubapi.com/crm/v3/objects/contacts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $credentials.hubspotApi.accessToken }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"properties\": {\n    \"company\": \"{{ $json.name }}\",\n    \"phone\": \"{{ $json.phone }}\",\n    \"address\": \"{{ $json.address }}\",\n    \"city\": \"{{ $json.city }}\",\n    \"website\": \"{{ $json.website }}\",\n    \"google_place_id\": \"{{ $json.place_id }}\",\n    \"google_rating\": \"{{ $json.rating }}\",\n    \"google_total_ratings\": \"{{ $json.total_ratings }}\",\n    \"google_maps_url\": \"{{ $json.google_maps_url }}\",\n    \"opening_hours\": \"{{ $json.opening_hours }}\",\n    \"lead_kategorie\": \"{{ $json.category }}\",\n    \"lead_source\": \"Google Places API\",\n    \"lead_status\": \"ohne-email\",\n    \"hs_lead_status\": \"NEW\"\n  }\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "hubspot-create-without-email",
      "name": "HubSpot Kontakt (ohne E-Mail)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3060, 420]
    },
    {
      "parameters": {
        "fromEmail": "={{ $credentials.smtpCredentials.user }}",
        "toEmail": "={{ $('Lead-Daten laden').first().json.email }}",
        "subject": "Nie wieder verpasste Bestellungen – TalkMate für {{ $('Lead-Daten laden').first().json.name }}",
        "emailType": "html",
        "html": "=<div style=\"font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto; color: #333;\">\n  <p>Sehr geehrte Damen und Herren von <strong>{{ $('Lead-Daten laden').first().json.name }}</strong>,</p>\n\n  <p>kennen Sie das? Das Telefon klingelt während der Stoßzeit, die Küche ist voll, und niemand kann abnehmen. <strong>Jeder verpasste Anruf ist eine verpasste Bestellung.</strong></p>\n\n  <p>Wir sind <strong>TalkMate</strong> und haben genau dafür eine Lösung entwickelt:</p>\n\n  <p>Unser <strong>KI-Telefonassistent</strong> nimmt Bestellungen und Reservierungen automatisch entgegen – rund um die Uhr, in perfektem Deutsch, freundlich und zuverlässig. Kein Anruf geht mehr verloren.</p>\n\n  <h3 style=\"color: #e65100;\">Was TalkMate für Sie tun kann:</h3>\n  <ul>\n    <li>Automatische Bestellannahme per Telefon – 24/7</li>\n    <li>Reservierungen entgegennehmen und verwalten</li>\n    <li>Häufige Fragen beantworten (Öffnungszeiten, Speisekarte, etc.)</li>\n    <li>Nahtlose Integration in Ihre bestehenden Systeme</li>\n  </ul>\n\n  <p><strong>Das Beste:</strong> Sie können TalkMate 14 Tage kostenlos und unverbindlich testen.</p>\n\n  <p>Darf ich Ihnen in einem kurzen 10-Minuten-Gespräch zeigen, wie TalkMate speziell für <strong>{{ $('Lead-Daten laden').first().json.name }}</strong> funktionieren kann?</p>\n\n  <p>Antworten Sie einfach auf diese E-Mail oder buchen Sie direkt einen Termin:</p>\n\n  <p style=\"text-align: center; margin: 25px 0;\">\n    <a href=\"https://talk-mate.com/demo\" style=\"background-color: #e65100; color: white; padding: 12px 30px; text-decoration: none; border-radius: 5px; font-weight: bold;\">Kostenlose Demo vereinbaren</a>\n  </p>\n\n  <p>Mit freundlichen Grüßen,<br>\n  <strong>Ihr TalkMate Team</strong><br>\n  <a href=\"https://talk-mate.com\">talk-mate.com</a></p>\n\n  <hr style=\"border: none; border-top: 1px solid #eee; margin: 20px 0;\">\n  <p style=\"font-size: 11px; color: #999;\">Sie erhalten diese E-Mail, weil Ihr Betrieb öffentlich auf Google Maps gelistet ist. Falls Sie keine weiteren Nachrichten wünschen, antworten Sie einfach mit \"Abmelden\".</p>\n</div>",
        "options": {}
      },
      "id": "send-email",
      "name": "Erst-Kontakt E-Mail senden",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [3300, 200],
      "credentials": {
        "smtp": {
          "id": "SMTP_CREDENTIAL_ID",
          "name": "SMTP Credentials"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Zusammenfassung nach Batch-Durchlauf\nconst item = $input.first().json;\nreturn [{\n  json: {\n    status: 'completed',\n    message: `Lead verarbeitet: ${item.company || item.name || 'Unbekannt'}`,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "code-log-done",
      "name": "Log: Verarbeitet",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3520, 200]
    },
    {
      "parameters": {
        "jsCode": "// Log für Leads ohne E-Mail\nconst item = $input.first().json;\nreturn [{\n  json: {\n    status: 'completed_no_email',\n    message: `Lead ohne E-Mail importiert: ${item.company || item.name || 'Unbekannt'}`,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "code-log-no-email",
      "name": "Log: Ohne E-Mail",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3300, 420]
    },
    {
      "parameters": {
        "jsCode": "// Log für übersprungene Duplikate\nreturn [{\n  json: {\n    status: 'skipped_duplicate',\n    message: 'Lead bereits in HubSpot vorhanden - übersprungen',\n    place_id: $('Daten zusammenführen').first().json.place_id,\n    name: $('Daten zusammenführen').first().json.name,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "code-log-duplicate",
      "name": "Log: Duplikat",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2620, 520]
    },
    {
      "parameters": {
        "amount": 1.5,
        "unit": "seconds"
      },
      "id": "wait-rate-limit",
      "name": "Rate Limit Pause",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [2180, 600]
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Konfiguration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Konfiguration": {
      "main": [
        [
          {
            "node": "Stadt-Kategorie Kombinationen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stadt-Kategorie Kombinationen": {
      "main": [
        [
          {
            "node": "Batch Verarbeitung",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Batch Verarbeitung": {
      "main": [
        [
          {
            "node": "Google Places Suche",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Places Suche": {
      "main": [
        [
          {
            "node": "Suchergebnisse extrahieren",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Suchergebnisse extrahieren": {
      "main": [
        [
          {
            "node": "Detail Batch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Detail Batch": {
      "main": [
        [
          {
            "node": "Google Place Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Place Details": {
      "main": [
        [
          {
            "node": "Daten zusammenführen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Daten zusammenführen": {
      "main": [
        [
          {
            "node": "HubSpot Duplikat-Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HubSpot Duplikat-Check": {
      "main": [
        [
          {
            "node": "Duplikat?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Duplikat?": {
      "main": [
        [
          {
            "node": "Lead-Daten laden",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log: Duplikat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lead-Daten laden": {
      "main": [
        [
          {
            "node": "Hat E-Mail?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hat E-Mail?": {
      "main": [
        [
          {
            "node": "HubSpot Kontakt (mit E-Mail)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HubSpot Kontakt (ohne E-Mail)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HubSpot Kontakt (mit E-Mail)": {
      "main": [
        [
          {
            "node": "Erst-Kontakt E-Mail senden",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Erst-Kontakt E-Mail senden": {
      "main": [
        [
          {
            "node": "Log: Verarbeitet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HubSpot Kontakt (ohne E-Mail)": {
      "main": [
        [
          {
            "node": "Log: Ohne E-Mail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log: Verarbeitet": {
      "main": [
        [
          {
            "node": "Rate Limit Pause",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log: Ohne E-Mail": {
      "main": [
        [
          {
            "node": "Rate Limit Pause",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log: Duplikat": {
      "main": [
        [
          {
            "node": "Rate Limit Pause",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rate Limit Pause": {
      "main": [
        [
          {
            "node": "Detail Batch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [
    {
      "name": "Lead Generation",
      "id": "1"
    },
    {
      "name": "Gastro",
      "id": "2"
    },
    {
      "name": "TalkMate",
      "id": "3"
    }
  ],
  "triggerCount": 1,
  "pinData": {}
}